<!DOCTYPE html>
<html>
<head>
	<title> Add Service </title>
</head>
<body>
<br><br>
<span style="color: grey"> Fields Marked with * are Mandatory! </span>

<div style="display: flex; justify-content: space-around;">
	<div class="outlet_form">
		<form action="/addFood/confirm" method="post" enctype="multipart/form-data">
			<div style="border: 1px solid blue; padding: 20px;">
			<p style="color: grey">
			Name* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="name" required> <br>
			Location* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="location" required> <br>
			Description &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <textarea name="description" rows="2" cols="32"></textarea> <br>
			Tag* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			<select name="tag" required>
	    		<option value="restaurant"> Restaurant </option>
	    		<option value="cafe"> Cafe </option>
	    		<option value="bar"> Bar </option>
	    		<option value="grocery"> Grocery </option>
	      		<option value="dessert"> Dessert </option>
	      		<option value="other" selected> Other </option>
	  		</select> <br>
	  		Photo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="file" name="photo"> <br>
	  		Menu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="file" name="menu"> <br>
	  		</p>
			<input type="submit" name="submit" value="Add" style="margin-right: 20px; display: inline-block; margin-left: 70px;"> 
			<input type="reset" style="display: inline-block; margin-right: 20px;">
	  	</form>
		<form action="/cancel" method="get" style="display: inline-block;">
			<input type="submit" name="submit" value="Cancel">
		</form>
		</div>
	</div>
</div>
</body>
</html>