<!DOCTYPE html>
<html>
<head>
	<title> Edit Food </title>
</head>
<body>
<br><br>
<div style="display: flex; justify-content: space-around;">
<div style="width: 45%">
	<form action="/food/edit/confirm" method="post" enctype="multipart/form-data">
		<div style="border: 1px solid blue; padding: 20px;">
		<p style="color: grey">
    <input type="hidden" name="outletID" value="<%= @food.id %>"></ins>
		Name* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="name" placeholder="<%= @food.name %>"> <br>
		Location* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="location" placeholder="<%= @food.location %>"> <br>
		Description &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <textarea name="description" rows="2" cols="32"></textarea> <br>
		Tag* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		<select name="tag" required>
			<% if @food.tag == "restaurant" %>
    		<option value="restaurant" selected> Restaurant </option>
    		<option value="cafe"> Cafe </option>
    		<option value="bar"> Bar </option>
    		<option value="grocery"> Grocery </option>
      		<option value="dessert"> Dessert </option>
      		<option value="other"> Other </option>
      	<% elsif @food.tag == "cafe" %>
      		<option value="restaurant"> Restaurant </option>
    		<option value="cafe" selected> Cafe </option>
    		<option value="bar"> Bar </option>
    		<option value="grocery"> Grocery </option>
      		<option value="dessert"> Dessert </option>
      		<option value="other"> Other </option>
      	<% elsif @food.tag == "bar" %>
      		<option value="restaurant"> Restaurant </option>
    		<option value="cafe"> Cafe </option>
    		<option value="bar" selected> Bar </option>
    		<option value="grocery"> Grocery </option>
      		<option value="dessert"> Dessert </option>
      		<option value="other"> Other </option>
      	<% elsif @food.tag == "grocery" %>
      		<option value="restaurant"> Restaurant </option>
    		<option value="cafe"> Cafe </option>
    		<option value="bar"> Bar </option>
    		<option value="grocery" selected> Grocery </option>
      		<option value="dessert"> Dessert </option>
      		<option value="other"> Other </option>
      	<% elsif @food.tag == "dessert" %>
      		<option value="restaurant"> Restaurant </option>
    		<option value="cafe"> Cafe </option>
    		<option value="bar"> Bar </option>
    		<option value="grocery"> Grocery </option>
      		<option value="dessert" selected> Dessert </option>
      		<option value="other"> Other </option>
      	<% elsif @food.tag == "other" %>
      		<option value="restaurant"> Restaurant </option>
    		<option value="cafe"> Cafe </option>
    		<option value="bar"> Bar </option>
    		<option value="grocery"> Grocery </option>
      		<option value="dessert"> Dessert </option>
      		<option value="other" selected> Other </option>
      	<% end %>
  		</select> <br>
  		Photo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="file" name="photo"> <br>
  		Menu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="file" name="menu"> <br>
  		</p>
			<input type="submit" name="submit" value="Edit" style="margin-right: 20px; display: inline-block; margin-left: 70px;"> 
			<input type="reset" style="display: inline-block; margin-right: 20px;">
  	</form>
	<form action="/food/cancel" method="get" style="display: inline-block;">
		<input type="submit" name="submit" value="Cancel">
	</form>
	</div>
</div>
</div>
</body>
</html>