<!DOCTYPE html>
<html>
<head>
	<title> Home Page </title>
</head>
<body>
<div class="home_content"> 
	<div> <a href="/food"> <img class="icon" src="images/food.png"> </a> </div>
	<div> <a href="/travel"> <img class="icon" src="images/travel.jpg"> </a> </div>
	<div> <a href="/health"> <img class="icon" src="images/health.png"> </a> </div>
	<div> <a href="/education"> <img class="icon" src="images/education.jpg"> </a> </div>
	<div> <a href="/entertainment"> <img class="icon" src="images/entertainment.jpg"> </a> </div>
	<div> <a href="/others"> <img class="icon" src="images/other.jpg"> </a> </div>
</div>
</body>
</html>