<!DOCTYPE html>
<html>
<head>
	<title> Home Page </title>
	<style type="text/css">
		.content{
			width: 98%;
			height: 800px;
			background-color: pink;
			padding: 10px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.content > div {
			height: 300px;
			width: 350px;
			background-color: white;
			margin: 30px;
		}

		.icon:hover{
			transform: scale(1.1);
		}

	</style>
</head>
<body>
<div class="content"> 
	<div> <a href="/food"> <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFltJJzKKjuMtoYg0haQnLPCnHhLWK70VsLUXU_GRNED9sXtS7" style="height: 300px; width: 350px">
	</a> </div>
	<div> <a href="/travel"> <img class="icon" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRBosH2gAoFrugGmxCk0fXgeE6Cl31_ErKhFPWRA9y95OZdGLI5" style="height: 300px; width: 350px"> </div>
	<div> <a href="/health"> <img class="icon" src="https://photos-2.dropbox.com/t/2/AACu5qA2E8TgWK4jA5xeBx6xqHnOvBcf9SYWXVjFJw8bSw/12/655824313/png/32x32/1/_/1/2/Health.png/EObcv6sFGAcgAigC/rBBI-SQ4hxPfogR7DifrfBG6zmVcXgDJDn0X4GzqMhA?size=1280x960&size_mode=3" style="height: 300px; width: 350px">
	</a> </div>
	<div> <a href="/education"> <img class="icon" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRqHkrcw1yMZ_2QNJjZPaAYiw3d8d83xsIcbW52SBQR5DQN3-tNDA" style="height: 300px; width: 350px"></a> </div>
	<div> <a href="/entertainment"> <img class="icon" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRiPsPb64mytIGbFWrw_q_d5WkOoLDoiYBcfMSgawAkZCMTDASX" style="height: 300px; width: 350px"></a> </div>
	<div> <a href="/others"> <img class="icon" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRFoc1hw0W5NTNEhVYsixshB3MM39RM55VpowJgSdsF_-w2Zenawg" style="height: 300px; width: 350px"></a> </div>
</div>
</body>
</html>